@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: white;
}

.section-principal {
  background-size: cover;
  background-image: url("../images/fundo.png");

  background-size: cover;
  display: flex;

  align-items: center;
  justify-content: center;

  /* height: 100vh; */
}

.campo-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-color: rgba(0, 0, 0, 0.5); */

  border-radius: 15px;
  animation-name: transition;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier();
}

.titulo {
  margin-bottom: 15px;
}

.titulo p {
  /* font-size: 1.7rem; */
  font-weight: 200;
}

.titulo h1 {
  margin-top: -19px;
  /* font-size: 2.5rem;                        */
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -2px;

  /* color: rgb(255, 255, 255); */
  color: #ffffff;
  /* color: #ddf3ff; */
  /* color: rgb(81, 191, 255); */
}

input::placeholder {
  color: rgb(36, 36, 36, 0.7);
}

.form-login {
  width: auto;
}

.usuario-senha {
  height: 40px;

  /*
  width: 50%;*/
  padding: 0 15px;

  border-radius: 12px;
  border: none;
  outline: none;
}

#teste123 {
  position: relative;
  display: flex;
}

.form-register {
  width: auto;
}

#olho-senha {
  height: 25px;
  width: 25px;

  position: absolute;
  z-index: 1;
  opacity: 0.65;
  right: 20px;
  top: 20%;
}
#olho-senha:hover {
  background-color: rgb(169, 224, 255);
  border-radius: 50%;
}

.botao {
  margin-top: 10px;
  background-color: rgb(76, 162, 212);
  height: 40px;
  width: 100%;

  border: none;
  border-radius: 12px;

  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;

  cursor: pointer;
}
.botao:hover {
  background-color: rgb(255, 255, 255, 0.85);
  color: rgb(58, 141, 189);
  transition: all 0.3s;
}

.quadradinho {
  margin-top: 15px;

  display: flex;
  align-items: center;

  gap: 15px;

  font-size: 110%;
}

.checkbox {
  background-color: #1dadff;
  height: 17px;
  width: 17px;
}

.ou {
  margin: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.risco1 {
  background-color: white;
  width: 100px;
  height: 1px;
}

.risco2 {
  background-color: white;
  width: 100px;
  height: 1px;
}

a {
  text-decoration: none;
  color: white;
}

/* Página de Registro */

.body-registro {
  background-color: #1dadff;
}

.caixa-nova-conta a {
  color: hsl(151, 100%, 56%);
}

.registro {
  width: 100%;
  height: 45px;
}

.botao-registro {
  margin-top: 25px;
  /* background-color: #1dff92; */
  background-color: #00dd72;
  height: 45px;
  font-size: 18px;
}

.botao-registro:hover {
  color: #27b167;
}

.criar {
  font-weight: 200;
  font-size: 30px;
}

.nova-conta {
  letter-spacing: -2px;
  font-size: 45px;
  color: #1dff92;
  margin-top: -23px;
}

.background-registro {
  background-image: url(../images/fundo-registro.png);
  /* background-size: cover; */
}

/* PÁGINA PRINCIPAL (HOME) */
#logoutButton {
  position: absolute;
  right: 25px;
  top: 7px;
}

.more-info-button {
  display: none;
}

.table-fist-line-mais-info {
  display: none;
}

.input {
  color: white;
  background-color: rgb(31, 31, 31, 0);
  border: none;
  font-size: 15px;
  width: 100%;
}

.input_habilitado {
  background-color: rgb(206, 206, 206);

  transition: all 0.5s;
  max-width: 90%;

  padding: 2px 10px;
  border-radius: 4px;
  color: rgb(46, 46, 46);
  font-weight: 500;
}

.btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.editar {
  background-color: rgb(39, 177, 103);
  color: #ffffff;
}

.btnSalvar {
  border: none;
  border-radius: 5px;
  background-color: rgb(39, 177, 103);
  color: white;
}

.btnSalvar:hover {
  cursor: pointer;
  transition: all 0.3s;
  background-color: rgb(67, 224, 141);
}

.apagar {
  background-color: rgb(204, 70, 70);
  color: white;
}

.confirmacao {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background-color: rgb(15, 15, 15, 0.7);
}

.container-confirmacao {
  /* transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 50vh;
  width: 40vw;

  background-color: rgb(24, 24, 24, 0.85);
  border-radius: 30px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.5);
}

.container-texto-confirmacao {
  margin-bottom: 30px;
  font-size: 140%;
}
.container-texto-confirmacao h1 {
  margin-bottom: -10px;
}

.botao-confirmacao {
  width: 80%;
}

.botao-confirmacao:hover {
  color: #3b3b3b;
}

.bg-image {
  background: url("../images/paisagem.png");
  background-size: cover;
  background-position: 0;
}

.linha {
  color: white;
}

.titulo {
  font-weight: 100;
}

.container-add-info {
  border-radius: 20px;
  background-color: rgb(19, 19, 19, 0.6);
  box-shadow: 0px 8px 8px rgb(14, 14, 14, 0.4);
}

.table-fist-line {
  box-shadow: 0px 5px 5px rgb(29, 29, 29);
  border-radius: 5px;
}

.centralizar {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --bs-dark-transparent: rgba(22, 22, 22, 0.97);
}

.bg-dark-trasnparent {
  background-color: var(--bs-dark-transparent);
}

.container-alert {
  position: fixed;
  height: 20vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-form-registro {
  animation-name: transition;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(s);
}

@media (max-width: 630px) {
  /* #tabela {
    background-color: black;
  } */
  .detalhamento_input {
    display: none;
  }

  .button-span {
    display: none;
  }
}

@media (max-width: 767px) {
  .txt-button-salvar {
    display: none;
  }
  #saveIcon {
    display: block;
  }

  .buttons-td {
    display: none;
  }

  .table-fist-line-acao {
    display: none;
  }

  .table-fist-line-detalhamento {
    display: none;
  }
  .table-fist-line-mais-info {
    display: block;
  }

  .detalhamento_input {
    display: none;
  }

  .more-info-button {
    display: flex;

    justify-content: center;
  }
}

@keyframes transition {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
